/* .node {
    border: 1px solid #ea580c;
    padding: 5px;
    border-radius: 5px;
    background: #201f21;
  } */
  
.node label {
  display: block;
  color: #ea580c;
  font-size: 12px;
}

.custom-handle {
  display: block;
  color: #ea580c;
  font-size: 12px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #ea580c;
  border-color:#ea580c
}

.target-handle {
  display: block;
  color: #c23b05;
  font-size: 12px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #c23b05;
  border-color:#c23b05
}

.source-handle {
  display: block;
  color: #ffd700;
  font-size: 12px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #ffd700;
  border-color:#ffd700
}
